{% extends "flashlearn/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'flashlearn/styles_create.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="card shadow mb-3" style="width: 80%;">
    <div id="create-image-container">
    <img class="card-img-top create-image" src="{% static 'flashlearn/create.jpg' %}" alt="Card image cap">
    </div>
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabName" id="name-tab">Name</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#tabDescrip">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#tabCards" id="cards-tab">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#tabPrivacy">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#tabSubmit">Submit</a>
            </li>
          </ul>
      </div>
    <div class="card-body">
      <h5 class="card-title mb-4"> Create your pack now!</h5>
      <form action="{% url 'create' %}" method="post" class="mb-5" id="create-form">
          {% csrf_token %}
          <div class="tab-content">
          <div class="tab-pane container active form-group" id="tabName">
            <label for="packName" >Name:</label>
            <input type="text" class="form-control shadow-none" id="packName" placeholder="Give your pack a name" name="name" required autofocus autocomplete="off">
            <div class="alert alert-danger d-none mt-3" id="alert-name">
              
              Please specify a pack name! 
            </div>
          </div>
          <div class="tab-pane container fade form-group" id="tabDescrip">
            <label for="packDescription" >Description (optional):</label>
            <input type="text" class="form-control shadow-none mb-3" id="packDescription" placeholder="Let people know more about your card pack!" name="description" autofocus autocomplete="off">
            <label for="packCat" class="form-label">Category (optional):</label>
            <select name="categories" id="packCat" class="form-control shadow-none">
              {% for cat in categories %}
              <option value="{{ cat }}">cat</option>                   
              {% endfor %}
            </select>
           
          </div>
          <div class="tab-pane container fade form-group" id="tabCards">
            <div class="alert alert-danger d-none mt-3" id="alert-cards">
              Please add at least 1 card!
            </div>
            <button class="btn btn-success shadow-none mt-3" id="add-btn" type="button">Add card +</button>

          </div>
          <div class="tab-pane container fade form-group" id="tabPrivacy">
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="privacy" id="priv1" checked value="all">
                <label class="form-check-label" for="priv1" >
                  All users (recommended!)
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="privacy" id="priv2" value="friends">
                <label class="form-check-label" for="priv2">
                  Friends only
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="privacy" id="priv3" value="private">
                <label class="form-check-label" for="priv3">
                  Me only
                </label>
              </div>
          </div>
          <div class="tab-pane container fade form-group text-center" id="tabSubmit">
            <button type="submit" class="btn btn-primary shadow-none" id="submit-btn">Submit!</button>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'flashlearn/create.js'%}"></script>
{% endblock %}