{% extends "flashlearn/base.html" %} {% load static %} {% block css %}
<link href="{% static 'flashlearn/styles_friends.css' %}" rel="stylesheet" />
{% endblock %} {% block body %}
<div id="friend-container">
  <p class="friend-header">Search user:</p>
  <small>By user ID or username!</small>
  <form method="post" action="" class="form-inline">
    {% csrf_token %}
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">#</div>
      </div>
      <input
        type="text"
        class="form-control shadow-none mr-2"
        id="search_friend"
        placeholder="e.g. A31PLR"
      />
    </div>
    <input
      class="btn btn-primary"
      type="submit"
      value="Search"
      id="submit-search"
    />
  </form>
  <div id="search-results" class="mt-3"></div>
  <div
    id="search-buttons"
    class="d-flex justify-content-center mt-2 mb-3"
  ></div>
  <p class="friend-header">Sent requests:</p>
  <div id="sent-requests" class="mt-3"></div>
  <div id="sent-buttons" class="d-flex justify-content-center mt-2 mb-3"></div>
  <p class="friend-header">Pending invitations:</p>
  <div id="pending-requests" class="mt-3"></div>
  <div
    id="pending-buttons"
    class="d-flex justify-content-center mt-2 mb-3"
  ></div>
  <p class="friend-header">Friends:</p>

  <div id="friends-list" class="mt-3"></div>
  <div
    id="friends-buttons"
    class="d-flex justify-content-center mt-2 mb-3"
  ></div>
  <!-- How a friend list item would look like -->
</div>

{% endblock %} {% block script %}
<script src="{% static 'flashlearn/friends.js' %}"></script>
{% endblock %}
