{% extends "flashlearn/base.html" %} {% load static %} {% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet"
/>
<link href="{% static 'flashlearn/index.css' %}" rel="stylesheet" />
{% endblock %} {% block body %}
<div id="top-section">
  <img src="{% static 'flashlearn/study.jpg' %}" id="study-image" />
  <h5 id="image-head">Flashlearn</h5>
  <h6 id="image-text">Power up your learning today</h6>
  {% if user.is_authenticated %}
  <a href="/create" id="create-button-link"
    ><button id="create-button">
      Create pack<svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-plus"
        viewBox="-2 1 16 16"
      >
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg></button
  ></a>
  {% endif %}
</div>
<form action="" method="POST">
  {% csrf_token %}
  <div id="search-area">
    <input
      type="text"
      name="search"
      placeholder="Search by keywords..."
      autocomplete="off"
      id="search-bar"
    />
    <input type="submit" value="Search" id="submit-com" class="search-btn" />
    <button type="submit" id="submit-mobile" class="search-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="white"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </button>
  </div>
</form>
<div id="action-container">
  <button id="filter-button" class="d-none">
    Filter & sort<svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-filter"
      viewBox="0 0 16 16"
    >
      <path
        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </button>
  <!-- Web -->
  <form method="post" action="" id="web-fs-view" class="d-none">
    <div id="web-fs-view-filter">
      <p><b>Filter by:</b></p>
      <div class="form-group">
        <label for="filter-cat-">Category:</label>
        <select
          name="category"
          id="filter-cat-"
          class="form-control shadow-none"
        >
          {% for cat in categories %}
          <option value="{{ cat }}">cat</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="filter-time">Recency:</label>
        <select class="custom-select form-control shadow-none" id="filter-time">
          <option value="all" selected>All</option>
          <option value="today">Today</option>
          <option value="week">Last week</option>
          <option value="month">Last month</option>
          <option value="year">Last year</option>
        </select>
      </div>
      <button class="btn btn-success fs-submitter">Submit</button>
      <button class="btn btn-danger" id="cancel-web-btn">Cancel</button>
    </div>
    <div id="web-fs-view-sort">
      <p><b>Sort by:</b></p>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-web"
            id="sort-time"
            value="creation_time"
          />
          <label class="form-check-label" for="sort-time"> Recency </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-web"
            id="sort-name"
            value="name"
          />
          <label class="form-check-label" for="sort-name"> Name </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-web"
            id="sort-likes"
            value="like_count"
          />
          <label class="form-check-label" for="sort-likes"> Likes </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-web"
            id="sort-difficulty"
            value="avg_difficulty"
          />
          <label class="form-check-label" for="sort-difficulty">
            Difficulty
          </label>
        </div>

        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="order-web"
            id="sort-ascending"
            value="up"
          />
          <label class="form-check-label" for="sort-ascending">
            Ascending
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="order-web"
            id="sort-descending"
            value="down"
            checked
          />
          <label class="form-check-label" for="sort-descending">
            Descending
          </label>
        </div>
      </div>
    </div>
  </form>
  <!-- Mobile -->
  <form method="post" action="" id="mobile-fs-view" class="d-none">
    <div id="mobile-fs-view-filter">
      <p><b>Filter by:</b></p>
      <div class="form-group">
        <label for="filter-cat-mobile">Category:</label>
        <select
          name="category"
          id="filter-cat-mobile"
          class="form-control shadow-none"
        >
          {% for cat in categories %}
          <option value="{{ cat }}">cat</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="filter-time-mobile">Recency:</label>
        <select
          class="custom-select form-control shadow-none"
          id="filter-time-mobile"
        >
          <option value="all" selected>All</option>
          <option value="today">Today</option>
          <option value="week">Last week</option>
          <option value="month">Last month</option>
          <option value="year">Last year</option>
        </select>
      </div>
    </div>
    <div id="mobile-fs-view-sort">
      <p><b>Sort by:</b></p>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-mobile"
            id="sort-time-mobile"
            value="creation_time"
          />
          <label class="form-check-label" for="sort-time-mobile">
            Recency
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-mobile"
            id="sort-name-mobile"
            value="name"
          />
          <label class="form-check-label" for="sort-name-mobile"> Name </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-mobile"
            id="sort-likes-mobile"
            value="like_count"
          />
          <label class="form-check-label" for="sort-likes-mobile">
            Likes
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="sort-mobile"
            id="sort-difficulty-mobile"
            value="avg_difficulty"
          />
          <label class="form-check-label" for="sort-difficulty-mobile">
            Difficulty
          </label>
        </div>

        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="order-mobile"
            id="sort-ascending-mobile"
            value="up"
          />
          <label class="form-check-label" for="sort-ascending-mobile">
            Ascending
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="order-mobile"
            id="sort-descending-mobile"
            value="down"
            checked
          />
          <label class="form-check-label" for="sort-descending-mobile">
            Descending
          </label>
        </div>
      </div>
      <button class="btn btn-success fs-submitter">Submit</button>
      <button class="btn btn-danger" id="cancel-mobile-btn">Cancel</button>
    </div>
  </form>
</div>
<!-- Dummy div for navigation -->
<div id="dummy-navigation"></div>
<div id="pack-container"></div>
<button class="btn btn-outline-secondary d-none" id="back-to-top-btn">
  Back to top
</button>
{% endblock %} {% block script %}
<script src="{% static 'flashlearn/index.js' %}"></script>
{% endblock %}
