{% extends "flashlearn/base.html" %} {% load static %} {% block css %}
<link href="{% static 'flashlearn/styles_profile.css' %}" rel="stylesheet" />
{% endblock %} {% block body %}
<div id="profile-container">
  <div id="profile-header">
    <!-- Profile image -->
    <form action="" method="post" id="profile-image-form">
      <button
        id="profile-image-button"
        aria-describedby="profile-change-helper"
      >
        <img
          src="{% static 'flashlearn/default_profile.jpg'%}"
          id="profile-image"
        />
      </button>
      <div id="background-form-fields" hidden>
        <input
          type="file"
          accept="image/*"
          id="image-upload"
          name="profile-image"
        />
        <div>
          <input
            type="checkbox"
            id="remove-background-checkbox"
            name="toRemove"
            value="T"
          />
          <label for="remove-background-checkbox">Remove background</label>
        </div>
        <div>
          <button class="btn btn-warning" id="hide-profile-selection">
            Hide
          </button>
          <input type="submit" class="btn btn-success" id="profile-submit" />
        </div>
      </div>
    </form>
    <small id="profile-change-helper" class="form-text text-muted"
      >Click avatar to upload/remove a profile photo</small
    >
    <!-- User info -->
    <div id="profile-info">
      <h3>Username<span class="badge badge-success ml-2"># Something</span></h3>
    </div>
  </div>
  <!-- Packs owned by user visible to viewer -->
  <div id="profile-packs">
    {% for i in list %}
    <div class="card shadow-sm something" style="width: 12rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="stretched-link"></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'flashlearn/profile.js'%}"></script>
{% endblock %}
