{% extends "flashlearn/base.html" %} {% load static %} {% block css %}
<link href="{% static 'flashlearn/styles_profile.css' %}" rel="stylesheet" />
{% endblock %} {% block body %}
<div id="profile-container">
  <div id="profile-header">
    <!-- Profile image -->
    <form action="" method="post" id="profile-image-form">
      <!-- Button to update profile image -->
      {% if profile_user %}
      <button
        id="profile-image-button"
        aria-describedby="profile-change-helper"
      >
        {% if user.image %}
        <img src="{{ user.image.url }}" id="profile-image" />
        {% else %}
        <img
          src="{% static 'flashlearn/default_profile.jpg' %}"
          id="profile-image"
        />
        {% endif %}
      </button>
      <!-- Update profile image form -->
      <div id="background-form-fields" hidden>
        <input
          type="file"
          accept="image/*"
          id="image-upload"
          name="profile-image"
        />
        <div>
          <input
            type="checkbox"
            id="remove-background-checkbox"
            name="toRemove"
            value="F"
          />
          <label for="remove-background-checkbox">Remove background</label>
        </div>
        <div>
          <button class="btn btn-warning" id="hide-profile-selection">
            Hide
          </button>
          <input type="submit" class="btn btn-success" id="profile-submit" />
        </div>
      </div>
    </form>
    <small id="profile-change-helper" class="form-text text-muted"
      >Click avatar to upload/remove a profile photo</small
    >

    {% else %}
    <div id="profile-image-image">
      {% if user.image %}
      <img src="{{ user.image.url }}" id="profile-image" />
      {% else %}
      <img
        src="{% static 'flashlearn/default_profile.jpg' %}"
        id="profile-image"
      />
    </div>
    {% endif %} {% endif %}
    <!-- User profile info -->
    <div id="profile-info">
      <h3>
        {{ user.username }}<span class="badge badge-success ml-2"
          ># {{user.userId}}</span
        >
      </h3>
    </div>
  </div>
  <!-- Packs owned by user visible to viewer -->
  <div id="profile-content">
    {% if profile_user %}
    <div id="buttons-group">
      <button id="packs-button" class="profile-button-1" autofocus>
        User's Packs
      </button>
      <button id="likes-button" class="profile-button-1">Likes</button>
      <input
        type="text"
        value="{{ user.userId }}"
        hidden
        readonly
        id="user-id"
      />

      <button id="fav-button" class="profile-button-1">Favs</button>
    </div>
    {% else %}
    <div id="buttons-group">
      <button id="packs-button" class="profile-button-2" autofocus>
        User's Packs
      </button>
      <button id="likes-button" class="profile-button-2">Likes</button>
      <input
        type="text"
        value="{{ user.userId }}"
        hidden
        readonly
        id="user-id"
      />
      {% if request.user.is_authenticated %}
      <input
        type="text"
        value="{{ request.user.id }}"
        hidden
        readonly
        id="my-user-id"
      />
      {% endif %}
    </div>
    {% endif %}
    <div id="profile-packs"></div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'flashlearn/profile.js'%}"></script>
{% endblock %}
