#friend-container {
  width: 90%;
  margin: auto;
  margin-top: 64px;
  font-family: "Roboto", sans-serif;
}

.friend-list-item {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.2);
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.friend-list-item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.04), 2px 2px 0px rgba(0, 0, 0, 0.04),
    4px 4px 0 rgba(0, 0, 0, 0.04), 6px 6px 0 rgba(0, 0, 0, 0.04),
    8px 8px 0 rgba(0, 0, 0, 0.04);
  transition-duration: 500ms;
}
.list-actions {
  margin-right: 8px;
}
.list-item-btn {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 25px;
}
.accept,
.reject {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.accept:hover,
.reject:hover {
  background-color: rgb(195, 195, 195);
  transition-duration: 500ms;
}

.user-descrip {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 16px;
}
.profile-name {
  margin-left: 8px;
  overflow-x: hidden;
  font-weight: 600;
  margin-bottom: 0px;
}
.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  border: 1px solid grey;
}
.profile-id {
  margin-left: 8px;
}
.friend-header {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

@media only screen and (min-width: 576px) {
  #submit-search {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  #submit-search {
    margin-top: 8px;
  }
}
